doctype html
html
  head
    title= "CPExpress Deals"
    link(rel='shortcut icon' href='/images/icon.ico' type='image/x-icon')
    link(rel='icon' href='/images/icon.ico' type='image/x-icon')
    link(rel='stylesheet', type='text/css', href='/stylesheets/login.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/preloader.css')
    link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    
    
  body

    script(type="text/javascript", src="/javascripts/jquery-min.js")
    script(type="text/javascript", src="/javascripts/main.js")
    script(type='text/javascript',src='/javascripts/register.js')
    script(type="text/javascript", src="/javascripts/sign.js")
    script(type='text/javascript', src='/javascripts/preloader.js')
    script(type="text/javascript", src="/javascripts/layout.js")
    script(type='text/javascript',src='/javascripts/preloader.js')
    block content
