extends loginlayout

block content
  .js
    #preloader
    
    nav
    
      ul 
        
       
        li
          a(href='/auth/login') 
            strong Log In
        li
          a(href='/auth/register') 
            strong Register

    .content
      
      form(role='form' action='/auth/login' method='post')
        img.image-logo(src='/images/logo.png')
        .group
        .group
          input(type='text' name='username')
          span.highlight
          span.bar
          label Username
        .group
          input(type='password' name='password')
          span.highlight
          span.bar
          label Password
        button.button.buttonBlue(type='submit')
          | Login
          .ripples.buttonRipples
            span.ripplesCircle
        a(href='/auth/register') 
          i  Don't have an account? Register Now! 

            
        
        
        


    
